# Data Wrangling

In this notebook, we perform data cleaning, fix missing values, and add new columns with meaning values.

## Loading modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

## Loading the data

We acquired the test score data for the [California Assessment of Student Performance and Progress (CAASPP)](https://caaspp.cde.ca.gov/). The data is available between 2015 and 2018.

* [CAASPP test scores](https://caaspp.cde.ca.gov/sb2018/ResearchFileList) 

Additional datasets are obtained in the following sites:
* [Civil Rights Data Collection](https://ocrdata.ed.gov/): Teacher demographics
* [Zillow research data](https://www.zillow.com/research/data/): House prices based on zipcodes
* [GreatSchools API](https://www.greatschools.org/api/docs/technical-overview/): School profile, school reviews, school censuc data, nearby schools

We first load the 2018 test data.

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv("../Data/sb_ca2018_all_csv_v3/sb_ca2018_all.csv")

In [5]:
df.shape

(3269730, 32)

In [6]:
df.head()

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Area 1 Percentage Above Standard,Area 1 Percentage Near Standard,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
0,0,0,0,NaN,2018,1,B,3180554,3177403,3,1,445017,434454,2424.0,26.13,22.09,48.22,23.49,28.29,434193,25.32,44.02,30.66,23.84,43.30,32.85,20.89,61.25,17.86,27.60,47.71,24.68
1,0,0,0,NaN,2018,1,B,3187375,3184687,3,2,445018,436464,2430.9,21.07,27.82,48.89,23.56,27.55,436215,33.59,33.20,33.21,26.72,42.30,30.98,28.80,46.31,24.89,0.00,0.00,0.00
2,0,0,0,NaN,2018,1,B,3187375,3184687,4,2,463838,455589,2467.7,18.46,24.45,42.92,30.81,26.27,455315,29.03,31.02,39.95,21.65,44.73,33.62,24.03,43.78,32.20,0.00,0.00,0.00
3,0,0,0,NaN,2018,1,B,3180554,3177403,4,1,463838,453771,2463.7,26.31,22.36,48.67,19.25,32.08,453491,24.77,46.77,28.46,24.18,44.21,31.61,19.30,63.22,17.48,25.86,48.83,25.31
4,0,0,0,NaN,2018,1,B,3180554,3177403,5,1,469247,459433,2496.3,21.80,27.63,49.43,19.99,30.58,459208,24.22,45.02,30.76,29.20,41.42,29.38,16.52,59.74,23.73,28.29,44.32,27.39

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269730 entries, 0 to 3269729
Data columns (total 32 columns):
County Code                          int64
District Code                        int64
School Code                          int64
Filler                               float64
Test Year                            int64
Subgroup ID                          int64
Test Type                            object
Total Tested At Entity Level         object
Total Tested with Scores             object
Grade                                int64
Test Id                              int64
CAASPP Reported Enrollment           object
Students Tested                      object
Mean Scale Score                     object
Percentage Standard Exceeded         object
Percentage Standard Met              object
Percentage Standard Met and Above    object
Percentage Standard Nearly Met       object
Percentage Standard Not Met          object
Students with Scores                 object
Area 1 Percentage Above Standard     object
Area 1 Percentage Near Standard      object
Area 1 Percentage Below Standard     object
Area 2 Percentage Above Standard     object
Area 2 Percentage Near Standard      object
Area 2 Percentage Below Standard     object
Area 3 Percentage Above Standard     object
Area 3 Percentage Near Standard      object
Area 3 Percentage Below Standard     object
Area 4 Percentage Above Standard     object
Area 4 Percentage Near Standard      object
Area 4 Percentage Below Standard     object
dtypes: float64(1), int64(7), object(24)
memory usage: 798.3+ MB

The following entity files list the County, District, and School entity names and codes for all entities as the existed in the administration year selected. This file must be merged with the test data file to join these entity names with the appropriate score data.

In [8]:
import chardet

#find the file encoding type
with open("../Data/sb_ca2018_all_csv_v3/sb_ca2018entities.csv", 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large
    
entities = pd.read_csv("../Data/sb_ca2018_all_csv_v3/sb_ca2018entities.csv", encoding=result['encoding'])

In [9]:
entities.shape

(11333, 10)

In [10]:
entities.head()

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,35,67520,6035109,NaN,2018,7,San Benito,Panoche Elementary,Panoche Elementary,95043
1,35,67538,0,NaN,2018,6,San Benito,San Benito High,NaN,
2,35,67538,3530029,NaN,2018,7,San Benito,San Benito High,San Andreas Continuation High,95023
3,35,67538,3537008,NaN,2018,7,San Benito,San Benito High,San Benito High,95023
4,35,67553,0,NaN,2018,6,San Benito,Southside Elementary,NaN,

In [11]:
entities.loc[(entities['School Name'] == 'Panoche Elementary'), :]

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,35,67520,6035109,NaN,2018,7,San Benito,Panoche Elementary,Panoche Elementary,95043

In [12]:
df_irvine = entities.loc[(entities['District Name'] == 'Irvine Unified'), :]

In [13]:
df_irvine

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
7499,30,73650,0,NaN,2018,6,Orange,Irvine Unified,NaN,
7500,30,73650,127472,NaN,2018,7,Orange,Irvine Unified,Jeffrey Trail Middle,92620
7501,30,73650,129155,NaN,2018,7,Orange,Irvine Unified,Cypress Village Elementary,92620
7502,30,73650,129296,NaN,2018,7,Orange,Irvine Unified,Portola Springs Elementary,92618
7503,30,73650,133389,NaN,2018,7,Orange,Irvine Unified,Beacon Park,92618
7504,30,73650,135137,NaN,2018,7,Orange,Irvine Unified,Eastwood Elementary,92620
7505,30,73650,3030129,NaN,2018,7,Orange,Irvine Unified,Creekside High,92606
7506,30,73650,3030152,NaN,2018,7,Orange,Irvine Unified,Irvine High,92604
7507,30,73650,3030285,NaN,2018,7,Orange,Irvine Unified,Woodbridge High,92604
7508,30,73650,3030467,NaN,2018,7,Orange,Irvine Unified,Alternative Education-San Joaquin High,92606
7509,30,73650,3030657,NaN,2018,7,Orange,Irvine Unified,Northwood High,92620
7510,30,73650,3035102,NaN,2018,7,Orange,Irvine Unified,University High,92612
7511,30,73650,3073650,NaN,2018,7,Orange,Irvine Unified,Irvine Unified District Level Program,92604
7512,30,73650,6030191,NaN,2018,7,Orange,Irvine Unified,University Park Elementary,92612
7513,30,73650,6068647,NaN,2018,7,Orange,Irvine Unified,Turtle Rock Elementary,92603
7514,30,73650,6071179,NaN,2018,7,Orange,Irvine Unified,Rancho San Joaquin Middle,92612
7515,30,73650,6085344,NaN,2018,7,Orange,Irvine Unified,Woodbury Elementary,92620
7516,30,73650,6089429,NaN,2018,7,Orange,Irvine Unified,Culverdale Elementary,92614
7517,30,73650,6089437,NaN,2018,7,Orange,Irvine Unified,College Park Elementary,92606
7518,30,73650,6089445,NaN,2018,7,Orange,Irvine Unified,Greentree Elementary,92604
7519,30,73650,6094718,NaN,2018,7,Orange,Irvine Unified,Vista Verde,92603
7520,30,73650,6095137,NaN,2018,7,Orange,Irvine Unified,Venado Middle,92604
7521,30,73650,6096184,NaN,2018,7,Orange,Irvine Unified,Deerfield Elementary,92604
7522,30,73650,6096192,NaN,2018,7,Orange,Irvine Unified,Stonegate Elementary,92620
7523,30,73650,6096200,NaN,2018,7,Orange,Irvine Unified,Stone Creek Elementary,92604
7524,30,73650,6097042,NaN,2018,7,Orange,Irvine Unified,Bonita Canyon Elementary,92603
7525,30,73650,6098511,NaN,2018,7,Orange,Irvine Unified,Lakeside Middle,92604
7526,30,73650,6098529,NaN,2018,7,Orange,Irvine Unified,Santiago Hills Elementary,92620
7527,30,73650,6100317,NaN,2018,7,Orange,Irvine Unified,Eastshore Elementary,92604
7528,30,73650,6100838,NaN,2018,7,Orange,Irvine Unified,Alderwood Elementary,92603
7529,30,73650,6100861,NaN,2018,7,Orange,Irvine Unified,Northwood Elementary,92620
7530,30,73650,6100879,NaN,2018,7,Orange,Irvine Unified,Sierra Vista Middle,92620
7531,30,73650,6102719,NaN,2018,7,Orange,Irvine Unified,Brywood Elementary,92620
7532,30,73650,6106850,NaN,2018,7,Orange,Irvine Unified,Meadow Park Elementary,92614
7533,30,73650,6107502,NaN,2018,7,Orange,Irvine Unified,Springbrook Elementary,92614
7534,30,73650,6108799,NaN,2018,7,Orange,Irvine Unified,Westpark Elementary,92614
7535,30,73650,6111876,NaN,2018,7,Orange,Irvine Unified,South Lake Middle,92614
7536,30,73650,6115455,NaN,2018,7,Orange,Irvine Unified,Canyon View Elementary,92620
7537,30,73650,6115786,NaN,2018,7,Orange,Irvine Unified,Plaza Vista,92606
7538,30,73650,6120141,NaN,2018,7,Orange,Irvine Unified,Oak Creek Elementary,92618

In [14]:
df_irvine[['District Code']].iloc(0)

In [15]:
entities.loc[(entities['District Name'] == 'Irvine Unified'), ['District Code']].iloc[0][0]

73650

Each `Subgroup ID` has the following meanings. We can investigate the characteristics of individual students.

In [16]:
subgroup = pd.read_csv("../Data/Subgroups.txt", header=None)
subgroup.shape

(47, 4)

In [17]:
subgroup.head()

,0,1,2,3
0,1,1,"""All Students""","""All Students"""
1,3,3,"""Male""","""Gender"""
2,4,4,"""Female""","""Gender"""
3,6,6,"""Fluent English proficient and English only""","""English-Language Fluency"""
4,7,7,"""Initial fluent English proficient (IFEP)""","""English-Language Fluency"""

In [18]:
#delete first column (redundant with the second column); axis = 0 (index) and axis =1 (column), inplace=True means adjusting
subgroup.drop(0, axis=1, inplace=True)
subgroup.columns = ['Subgroup ID', 'Student Groups', 'Category']
#same expression: subgroup[['Subgroup ID', 'Student Groups', 'Category']]
subgroup.sort_values("Category")
subgroup.head(47)

,Subgroup ID,Student Groups,Category
0,1,"""All Students""","""All Students"""
1,3,"""Male""","""Gender"""
2,4,"""Female""","""Gender"""
3,6,"""Fluent English proficient and English only""","""English-Language Fluency"""
4,7,"""Initial fluent English proficient (IFEP)""","""English-Language Fluency"""
5,8,"""Reclassified fluent English proficient (RFEP)""","""English-Language Fluency"""
6,28,"""Migrant education""","""Migrant"""
7,31,"""Economically disadvantaged""","""Economic Status"""
8,74,"""Black or African American""","""Ethnicity"""
9,75,"""American Indian or Alaska Native""","""Ethnicity"""
10,76,"""Asian""","""Ethnicity"""
11,77,"""Filipino""","""Ethnicity"""
12,78,"""Hispanic or Latino""","""Ethnicity"""
13,79,"""Native Hawaiian or Pacific Islander""","""Ethnicity"""
14,80,"""White""","""Ethnicity"""
15,90,"""Not a high school graduate""","""Parent Education"""
16,91,"""High school graduate""","""Parent Education"""
17,92,"""Some college (includes AA degree)""","""Parent Education"""
18,93,"""College graduate""","""Parent Education"""
19,94,"""Graduate school/Post graduate""","""Parent Education"""
20,99,"""Students with no reported disability""","""Disability Status"""
21,111,"""Not economically disadvantaged""","""Economic Status"""
22,120,"""English learners (ELs) enrolled in school in...","""English-Language Fluency"""
23,121,"""Declined to state""","""Parent Education"""
24,128,"""Students with disability""","""Disability Status"""
25,142,"""English learners enrolled in school in the U...","""English-Language Fluency"""
26,144,"""Two or more races""","""Ethnicity"""
27,160,"""English learner""","""English-Language Fluency"""
28,170,"""Ever-ELs""","""English-Language Fluency"""
29,180,"""English only""","""English-Language Fluency"""
30,190,"""To be determined (TBD)""","""English-Language Fluency"""
31,200,"""Black or African American""","""Ethnicity for Economically Disadvantaged"""
32,201,"""American Indian or Alaska Native""","""Ethnicity for Economically Disadvantaged"""
33,202,"""Asian""","""Ethnicity for Economically Disadvantaged"""
34,203,"""Filipino""","""Ethnicity for Economically Disadvantaged"""
35,204,"""Hispanic or Latino""","""Ethnicity for Economically Disadvantaged"""
36,205,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Economically Disadvantaged"""
37,206,"""White""","""Ethnicity for Economically Disadvantaged"""
38,207,"""Two or more races""","""Ethnicity for Economically Disadvantaged"""
39,220,"""Black or African American""","""Ethnicity for Not Economically Disadvantaged"""
40,221,"""American Indian or Alaska Native""","""Ethnicity for Not Economically Disadvantaged"""
41,222,"""Asian""","""Ethnicity for Not Economically Disadvantaged"""
42,223,"""Filipino""","""Ethnicity for Not Economically Disadvantaged"""
43,224,"""Hispanic or Latino""","""Ethnicity for Not Economically Disadvantaged"""
44,225,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Not Economically Disadvantaged"""
45,226,"""White""","""Ethnicity for Not Economically Disadvantaged"""
46,227,"""Two or more races""","""Ethnicity for Not Economically Disadvantaged"""

For example, if we want the DataFrame where the district is **Irvine Unified**, the ethnicity is **Asian** for the **3rd** grade, we can obtain it as follows.

In [19]:
df.loc[(df['District Code'] == 73650) & (df['Subgroup ID'] == 76) & (df['Grade'] == 3), :]

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Area 1 Percentage Above Standard,Area 1 Percentage Near Standard,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
1602961,30,73650,0,NaN,2018,76,B,8918,8918,3,2,1272,1258,2512.4,58.03,29.65,87.68,8.98,3.34,1258,73.85,21.54,4.61,62.32,32.03,5.64,66.38,28.30,5.33,0.00,0.00,0.00
1602962,30,73650,0,NaN,2018,76,B,8666,8666,3,1,1272,1211,2499.2,60.20,21.14,81.34,11.81,6.85,1211,55.08,36.09,8.84,54.38,35.62,10.00,41.29,53.76,4.95,56.81,35.84,7.35
1603803,30,73650,129155,NaN,2018,76,B,312,312,3,2,86,85,2531.3,74.12,18.82,92.94,2.35,4.71,85,85.88,9.41,4.71,71.76,23.53,4.71,82.35,14.12,3.53,0.00,0.00,0.00
1603804,30,73650,129155,NaN,2018,76,B,301,301,3,1,86,84,2521.6,75.00,16.67,91.67,3.57,4.76,84,54.76,39.29,5.95,76.19,16.67,7.14,53.57,42.86,3.57,75.00,20.24,4.76
1604137,30,73650,129296,NaN,2018,76,B,282,282,3,2,71,71,2517.5,61.97,29.58,91.55,7.04,1.41,71,77.46,19.72,2.82,60.56,38.03,1.41,70.42,28.17,1.41,0.00,0.00,0.00
1604138,30,73650,129296,NaN,2018,76,B,281,281,3,1,71,71,2504.8,60.56,21.13,81.69,11.27,7.04,71,54.93,40.85,4.23,49.30,38.03,12.68,43.66,50.70,5.63,61.97,30.99,7.04
1604465,30,73650,133389,NaN,2018,76,B,267,267,3,2,64,64,2496.2,50.00,32.81,82.81,12.50,4.69,64,68.75,25.00,6.25,53.13,39.06,7.81,54.69,39.06,6.25,0.00,0.00,0.00
1604466,30,73650,133389,NaN,2018,76,B,259,259,3,1,64,63,2478.6,52.38,22.22,74.60,12.70,12.70,63,47.62,38.10,14.29,42.86,41.27,15.87,31.75,58.73,9.52,42.86,44.44,12.70
1604845,30,73650,135137,NaN,2018,76,B,141,141,3,2,39,38,2495.1,44.74,36.84,81.58,13.16,5.26,38,57.89,34.21,7.89,65.79,23.68,10.53,52.63,44.74,2.63,0.00,0.00,0.00
1604846,30,73650,135137,NaN,2018,76,B,118,118,3,1,39,36,2486.6,50.00,33.33,83.33,8.33,8.33,36,47.22,41.67,11.11,52.78,36.11,11.11,22.22,75.00,2.78,52.78,33.33,13.89
1605595,30,73650,3030467,NaN,2018,76,B,14,14,3,1,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
1605596,30,73650,3030467,NaN,2018,76,B,14,14,3,2,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
1606423,30,73650,6030191,NaN,2018,76,B,125,125,3,2,22,21,2499.3,52.38,19.05,71.43,9.52,19.05,21,66.67,23.81,9.52,52.38,38.10,9.52,52.38,23.81,23.81,0.00,0.00,0.00
1606424,30,73650,6030191,NaN,2018,76,B,91,91,3,1,22,17,2463.0,58.82,5.88,64.71,11.76,23.53,17,52.94,23.53,23.53,41.18,23.53,35.29,47.06,41.18,11.76,41.18,41.18,17.65
1606745,30,73650,6068647,NaN,2018,76,B,263,263,3,1,61,58,2522.1,72.41,15.52,87.93,6.90,5.17,58,62.07,34.48,3.45,62.07,34.48,3.45,48.28,50.00,1.72,70.69,24.14,5.17
1606746,30,73650,6068647,NaN,2018,76,B,273,273,3,2,61,59,2532.3,72.88,20.34,93.22,5.08,1.69,59,83.05,13.56,3.39,67.80,28.81,3.39,72.88,23.73,3.39,0.00,0.00,0.00
1607275,30,73650,6085344,NaN,2018,76,B,316,316,3,2,79,79,2492.7,50.63,30.38,81.01,15.19,3.80,79,65.82,27.85,6.33,51.90,43.04,5.06,51.90,39.24,8.86,0.00,0.00,0.00
1607276,30,73650,6085344,NaN,2018,76,B,302,302,3,1,79,75,2491.6,57.33,20.00,77.33,18.67,4.00,75,44.00,50.67,5.33,46.67,38.67,14.67,36.00,58.67,5.33,53.33,38.67,8.00
1607623,30,73650,6089429,NaN,2018,76,B,127,127,3,2,40,36,2485.8,36.11,47.22,83.33,8.33,8.33,36,69.44,19.44,11.11,44.44,38.89,16.67,50.00,36.11,13.89,0.00,0.00,0.00
1607624,30,73650,6089429,NaN,2018,76,B,86,86,3,1,40,23,2432.9,30.43,17.39,47.83,26.09,26.09,23,30.43,43.48,26.09,26.09,26.09,47.83,17.39,69.57,13.04,21.74,73.91,4.35
1607979,30,73650,6089437,NaN,2018,76,B,235,235,3,2,63,63,2496.2,47.62,41.27,88.89,7.94,3.17,63,69.84,23.81,6.35,52.38,39.68,7.94,50.79,42.86,6.35,0.00,0.00,0.00
1607980,30,73650,6089437,NaN,2018,76,B,204,204,3,1,63,51,2461.1,39.22,25.49,64.71,19.61,15.69,51,45.10,35.29,19.61,45.10,35.29,19.61,29.41,62.75,7.84,33.33,50.98,15.69
1608301,30,73650,6089445,NaN,2018,76,B,86,86,3,1,18,18,2479.1,44.44,33.33,77.78,22.22,0.00,18,44.44,50.00,5.56,27.78,66.67,5.56,33.33,66.67,0.00,38.89,61.11,0.00
1608302,30,73650,6089445,NaN,2018,76,B,86,86,3,2,18,18,2478.3,27.78,55.56,83.33,16.67,0.00,18,38.89,55.56,5.56,55.56,44.44,0.00,55.56,44.44,0.00,0.00,0.00,0.00
1608633,30,73650,6094718,NaN,2018,76,B,175,175,3,2,28,28,2524.3,64.29,25.00,89.29,3.57,7.14,28,75.00,17.86,7.14,67.86,21.43,10.71,67.86,28.57,3.57,0.00,0.00,0.00
1608634,30,73650,6094718,NaN,2018,76,B,171,171,3,1,28,27,2509.2,55.56,22.22,77.78,22.22,0.00,27,55.56,40.74,3.70,55.56,44.44,0.00,44.44,55.56,0.00,62.96,25.93,11.11
1609241,30,73650,6096184,NaN,2018,76,B,203,203,3,2,42,42,2499.9,47.62,38.10,85.71,11.90,2.38,42,66.67,30.95,2.38,50.00,42.86,7.14,71.43,26.19,2.38,0.00,0.00,0.00
1609242,30,73650,6096184,NaN,2018,76,B,201,201,3,1,42,40,2493.6,57.50,22.50,80.00,17.50,2.50,40,52.50,42.50,5.00,52.50,37.50,10.00,40.00,57.50,2.50,55.00,40.00,5.00
1609587,30,73650,6096192,NaN,2018,76,B,431,431,3,1,122,122,2529.5,76.23,12.30,88.52,10.66,0.82,122,68.85,26.23,4.92,68.85,29.51,1.64,50.82,45.90,3.28,72.95,23.77,3.28
1609588,30,73650,6096192,NaN,2018,76,B,433,433,3,2,122,122,2530.0,65.57,26.23,91.80,8.20,0.00,122,85.25,13.93,0.82,63.93,35.25,0.82,77.87,18.03,4.10,0.00,0.00,0.00
1609926,30,73650,6096200,NaN,2018,76,B,126,126,3,2,40,40,2510.5,57.50,37.50,95.00,2.50,2.50,40,82.50,15.00,2.50,62.50,35.00,2.50,62.50,35.00,2.50,0.00,0.00,0.00
1609927,30,73650,6096200,NaN,2018,76,B,126,126,3,1,40,40,2505.5,57.50,30.00,87.50,12.50,0.00,40,55.00,42.50,2.50,55.00,40.00,5.00,37.50,60.00,2.50,55.00,37.50,7.50
1610232,30,73650,6097042,NaN,2018,76,B,85,85,3,1,22,22,2532.3,77.27,18.18,95.45,4.55,0.00,22,68.18,31.82,0.00,63.64,36.36,0.00,40.91,54.55,4.55,77.27,22.73,0.00
1610233,30,73650,6097042,NaN,2018,76,B,86,86,3,2,22,22,2541.9,68.18,22.73,90.91,9.09,0.00,22,72.73,22.73,4.55,81.82,18.18,0.00,86.36,13.64,0.00,0.00,0.00,0.00
1610736,30,73650,6098529,NaN,2018,76,B,217,217,3,1,36,36,2500.8,55.56,27.78,83.33,8.33,8.33,36,58.33,33.33,8.33,47.22,44.44,8.33,47.22,44.44,8.33,50.00,38.89,11.11
1610737,30,73650,6098529,NaN,2018,76,B,218,218,3,2,36,36,2535.1,72.22,19.44,91.67,2.78,5.56,36,88.89,8.33,2.78,66.67,25.00,8.33,72.22,19.44,8.33,0.00,0.00,0.00
1611036,30,73650,6100317,NaN,2018,76,B,167,167,3,1,20,19,2475.4,42.11,31.58,73.68,21.05,5.26,19,47.37,47.37,5.26,42.11,36.84,21.05,52.63,31.58,15.79,42.11,47.37,10.53
1611037,30,73650,6100317,NaN,2018,76,B,169,169,3,2,20,20,2489.2,45.00,35.00,80.00,20.00,0.00,20,55.00,40.00,5.00,65.00,35.00,0.00,50.00,35.00,15.00,0.00,0.00,0.00
1611356,30,73650,6100838,NaN,2018,76,B,204,204,3,1,55,55,2493.8,52.73,27.27,80.00,12.73,7.27,55,50.91,40.00,9.09,47.27,43.64,9.09,41.82,52.73,5.45,50.91,38.18,10.91
1611357,30,73650,6100838,NaN,2018,76,B,204,204,3,2,55,55,2509.8,49.09,36.36,85.45,12.73,1.82,55,65.45,30.91,3.64,61.82,30.91,7.27,63.64,29.09,7.27,0.00,0.00,0.00
1611692,30,73650,6100861,NaN,2018,76,B,184,184,3,2,44,43,2520.9,55.81,30.23,86.05,9.30,4.65,43,74.42,20.93,4.65,72.09,20.93,6.98,72.09,23.26,4.65,0.00,0.00,0.00
1611693,30,73650,6100861,NaN,2018,76,B,182,182,3,1,44,42,2511.7,66.67,26.19,92.86,2.38,4.76,42,64.29,26.19,9.52,61.90,30.95,7.14,50.00,50.00,0.00,64.29,33.33,2.38
1612270,30,73650,6102719,NaN,2018,76,B,203,203,3,1,34,34,2514.2,64.71,17.65,82.35,11.76,5.88,34,61.76,29.41,8.82,67.65,29.41,2.94,44.12,52.94,2.94,50.00,50.00,0.00
1612271,30,73650,6102719,NaN,2018,76,B,204,204,3,2,34,34,2519.5,67.65,20.59,88.24,8.82,2.94,34,76.47,17.65,5.88,67.65,26.47,5.88,76.47,20.59,2.94,0.00,0.00,0.00
1612586,30,73650,6106850,NaN,2018,76,B,113,113,3,2,22,22,2510.3,63.64,27.27,90.91,4.55,4.55,22,68.18,27.27,4.55,72.73,22.73,4.55,72.73,22.73,4.55,0.00,0.00,0.00
1612587,30,73650,6106850,NaN,2018,76,B,112,112,3,1,22,22,2506.3,68.18,9.09,77.27,13.64,9.09,22,68.18,27.27,4.55,61.90,38.10,0.00,45.45,45.45,9.09,63.64,31.82,4.55
1612922,30,73650,6107502,NaN,2018,76,B,119,119,3,2,35,33,2508.8,60.61,27.27,87.88,0.00,12.12,33,72.73,15.15,12.12,60.61,30.30,9.09,75.76,12.12,12.12,0.00,0.00,0.00
1612923,30,73650,6107502,NaN,2018,76,B,115,115,3,1,35,33,2480.8,54.55,24.24,78.79,9.09,12.12,33,54.55,33.33,12.12,48.48,36.36,15.15,30.30,66.67,3.03,54.55,33.33,12.12
1613241,30,73650,6108799,NaN,2018,76,B,250,250,3,2,51,50,2512.7,62.00,26.00,88.00,10.00,2.00,50,74.00,18.00,8.00,66.00,26.00,8.00,68.00,30.00,2.00,0.00,0.00,0.00
1613242,30,73650,6108799,NaN,2018,76,B,244,244,3,1,51,47,2507.0,65.96,23.40,89.36,8.51,2.13,47,59.57,31.91,8.51,65.96,29.79,4.26,40.43,59.57,0.00,61.70,36.17,2.13
1613805,30,73650,6115455,NaN,2018,76,B,235,235,3,2,63,63,2517.1,63.49,25.40,88.89,11.11,0.00,63,76.19,23.81,0.00,73.02,23.81,3.17,66.67,28.57,4.76,0.00,0.00,0.00
1613806,30,73650,6115455,NaN,2018,76,B,234,234,3,1,63,63,2497.3,61.90,20.63,82.54,12.70,4.76,63,60.32,34.92,4.76,46.03,46.03,7.94,46.03,50.79,3.17,60.32,36.51,3.17
1614147,30,73650,6115786,NaN,2018,76,B,301,301,3,2,60,60,2515.7,55.00,38.33,93.33,5.00,1.67,60,76.67,20.00,3.33,63.33,35.00,1.67,66.67,31.67,1.67,0.00,0.00,0.00
1614148,30,73650,6115786,NaN,2018,76,B,299,299,3,1,60,60,2484.6,51.67,25.00,76.67,15.00,8.33,60,48.33,31.67,20.00,51.67,38.33,10.00,36.67,55.00,8.33,43.33,48.33,8.33
1614595,30,73650,6120141,NaN,2018,76,B,178,178,3,1,53,51,2478.8,54.90,19.61,74.51,5.88,19.61,51,50.98,31.37,17.65,45.10,37.25,17.65,31.37,58.82,9.80,50.98,33.33,15.69
1614596,30,73650,6120141,NaN,2018,76,B,182,182,3,2,53,52,2497.8,51.92,23.08,75.00,21.15,3.85,52,63.46,32.69,3.85,55.77,30.77,13.46,57.69,34.62,7.69,0.00,0.00,0.00

In [20]:
df.iloc[1614596]

County Code                               30
District Code                          73650
School Code                          6120141
Filler                                   NaN
Test Year                               2018
Subgroup ID                               76
Test Type                                  B
Total Tested At Entity Level             182
Total Tested with Scores                 182
Grade                                      3
Test Id                                    2
CAASPP Reported Enrollment                53
Students Tested                           52
Mean Scale Score                      2497.8
Percentage Standard Exceeded           51.92
Percentage Standard Met                23.08
Percentage Standard Met and Above      75.00
Percentage Standard Nearly Met         21.15
Percentage Standard Not Met             3.85
Students with Scores                      52
Area 1 Percentage Above Standard       63.46
Area 1 Percentage Near Standard        32.69
Area 1 Percentage Below Standard        3.85
Area 2 Percentage Above Standard       55.77
Area 2 Percentage Near Standard        30.77
Area 2 Percentage Below Standard       13.46
Area 3 Percentage Above Standard       57.69
Area 3 Percentage Near Standard        34.62
Area 3 Percentage Below Standard        7.69
Area 4 Percentage Above Standard        0.00
Area 4 Percentage Near Standard         0.00
Area 4 Percentage Below Standard        0.00
Name: 1614596, dtype: object

* Selecting single item df.loc[index, col_name] - need to have **string index**??

* Join two dataframes for obtaining the specific school name